[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/logicaleak
[access "refs/for/refs/*"]
	read = group user/logicaleak
	push = group user/logicaleak
	label-Code-Review = -2..+2 group user/logicaleak
	label-Verified = -1..+1 group user/logicaleak
	rebase = group user/logicaleak
	removeReviewer = group user/logicaleak
	submit = group user/logicaleak
[access "refs/heads/*"]
	read = group user/logicaleak
	create = group user/logicaleak
	push = +force group user/logicaleak
	pushMerge = group user/logicaleak
[access "refs/tags/*"]
	push = +force group user/logicaleak
	pushTag = group user/logicaleak
	pushSignedTag = group user/logicaleak
